.button-container{
  display:block;
  /* width:50px;
  margin: 10px auto; */
}

.button-class{
  display:block;
  cursor:pointer;
  /* width:50px; */
  border-radius:10px;
  border:none;
  padding:10px;
  /* font-size:5px; */
  color:white;
  background: linear-gradient(
    90deg,
    #9383C5,
    #56E3FA
  );  
}